*{ 
    margin:0;
    padding:0;
}
/*FUENTES USADAS EN LA PÁGINA*/
@font-face {
    font-family:"Roboto.ttf";
    src:url('../FONTs/Roboto.ttf');
}
@font-face {
    font-family:"BadMofo.ttf";
    src:url('../FONTs/BadMofo.ttf');
}
/*fuente menu*/ 
@font-face {
    font-family:"FROST.ttf";
    src:url('../FONTs/FROST.ttf');
}
/*-------------------------------*/

/*-------------------------------NAV-------------------------------*/
nav {
    background-color: #09606D;
}
/*menu horizontal */
header {
    width: 100%;
    background: #16ABC1;
    position: fixed; /*menu se quede fijo*/
    z-index: 100;
}
#inicio {
    font-family:"BadMofo.ttf";
    font-size: 39px; 
    padding: 1px 24px
}
#inicio0 {
    margin:none;
    padding:none;
}
#btn-menu {
    display: none;
}
/*la cabeza del menu cuando esta reducido */
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid grey;
}
/*menu de navegacion de menu horizontal*/
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display:flex;
}
/*flexbox*/
.menu li {
/*proporcion de crecimiento flex-grow: 1*/
    flex-grow: 1;
    text-align: center;
    border: 1px solid grey;  
    height:45px;
    padding-left: -10%;
    font-family:"FROST.ttf";
}
.menu li:hover {
    background:#09606D;
}
.menu li a{
    display:block;
    padding: 14px 60px 15px;
    color: #fff;
    text-decoration: none;
}
/*submenus */
.menu ul li ul {
    background:	#000000; 
    display:block;
    display: none;
    position: absolute;
}
.menu :hover>ul{
    display:block;
}
/*edicion submenu*/
.menu ul li ul li {
    border: 1px solid #09606D;
}

/*a partir de un numero de pixeles aparezca y desaparezca el menu*/

@media (max-width:768px) {
    header label {
        display:block;
    }

    aside {
        width: 100%
    }

    .menu {
        position: absolute;
        background: #16ABC1;
        width: 70%;
        margin-left: -70%;
        transition: all 0.7s;
    }

    .menu ul {/*cuando cambie el tamaño de pantalla ya no sera un a fila si no columna*/
        flex-direction: column;
    }

    /*cuando demos clic en el menu aparezca el munu y cuando demos otra vez desaparezca*/
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
    .menu ul li ul {
        width: 100%;   
    }
}
/*-------------------------------FIN-NAV-------------------------------*/

/*-------------------------------SECTION-------------------------------*/
#eriseP {
    margin: auto;
    display: block;
    width: 100%; /* Elimina ancho excesivo */
}
#section1 {
    background-color: white;
}
#section2 {
    height: 80px;
    background-color: #09606D;
    padding-top: 20px;
}
#section3 {
    background-color: white;
    padding-top: 30px;
    height: 650px;
}
#slogan1,#slogan2 {
    text-align: center;
    font-family:"FROST.ttf";
    color: white;
    font-size: 30px;
}
#centralart {
    margin: auto;
    width: 65%;
}
#centraltitle {
    font-family:"Roboto.ttf";
    font-size: 30px;
    color: black;
}
#centraltext {
    font-family:"Roboto.ttf";
    text-align: justify;
    color: black;
    font-size: 20px;
}
@keyframes slider1 {
	0% {
        left: 0;
        opacity: 0;
    }
    10% {
        left: 0;
        opacity: 20%;
    }
	20% {
        left: 0;
        opacity: 40%;
	}
	30% {
        left: 0;
        opacity: 60%;
        
	}
	40% {
        left: 0;
        opacity: 70%;
	}
	50% {
        left: 0;
        opacity: 80%;

    }
    60% {
        left: 0;
        opacity: 90%;
    }
	70% {
        left: 0;
        opacity: 100%;
	}
    85% {
        left: 0;
        opacity: 100%;
    }
}
#slider1 {
    overflow: hidden;
}
#slider1 figure img {
    float: left;
    position: absolute;
	height: 400px;
	width: 240px;
	left: 40px;
	top: 670px;
}
#slider1 figure {
	position: absolute;
	left: 10px;
	top:150px;
	width: 100px;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 10s slider2 infinite; 
}
@keyframes slider2 {
    0% {
        left: 0;
        opacity: 0;
    }
    10% {
        left: 0;
        opacity: 20%;
    }
    20% {
        left: 0;
        opacity: 40%;
    }
    30% {
        left: 0;
        opacity: 60%;        
    }
    40% {
        left: 0;
        opacity: 70%;
    }
    50% {
        left: 0;
        opacity: 80%;
    }
    60% {
        left: 0;
        opacity: 90%;
    }
    70% {
        left: 0;
        opacity: 100%;
    }
    85% {
        left: 0;
        opacity: 100%;
    }
    
}
#slider2 {
    overflow: hidden;
    background-color: red;
}
#slider2 figure img {
    float: left;
	position: absolute;
	height: 400px;
    width: 240px;
	left: 1620px;
	top: 670px;
}
#slider2 figure {
    position: absolute;
    text-align: left;
	left: 10px;
	top:150px;
	width: 100px;
	margin: 0;
	left: 0;
	font-size: 0;
	animation: 10s slider2 infinite;	
}
/*-----------------------------FIN-SECTION-----------------------------*/

/*-------------------------------FOOTER--------------------------------*/
footer {
    background-color: #09606D;
    height: 120px;
    width: 100%;
    margin-bottom: 0;
    clear: both;
}
#copy {
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 20px;
    font-family:"Roboto.ttf";
}
#tabla {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
#Fleft {
    float: left;
    width: 33%;
    padding-top: 10px;
}
#Fcenter {
    float: left;
    width: 33%;
    padding-top: 10px;
}
#Fright {
    width: 34%;
    padding-top: 10px;
}
#Fcenter,#Fright,#Fleft {display: inline-block;}
.pie {
    text-align: center;
    margin: auto;
    color: white;
    font-family:"Roboto.ttf"
}
.social {
    margin: 0 auto;
    height: 35px;
    width: 35px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: white; 
}
/*------------------------------FIN-FOOTER------------------------------*/

/*
Colores posibles de la pagina:

#09606D
#16ABC1
*/