*{ 
    margin:0;
    padding:0;
}

body{
    margin-bottom: 0;
    padding-bottom: 0%;
}
/*FUENTES USADAS EN LA PÁGINA*/
@font-face {
    font-family:"Roboto.ttf";
    src:url('../FONTs/Roboto.ttf');
}
@font-face {
    font-family:"BadMofo.ttf";
    src:url('../FONTs/BadMofo.ttf');
}
/*fuente menu*/ 
@font-face {
    font-family:"FROST.ttf";
    src:url('../FONTs/FROST.ttf');
}
/*-------------------------------*/

/*-------------------------------NAV-------------------------------*/
nav {
    background-color: #09606D;
}
/*menu horizontal */
header {
    width: 100%;
    background: #16ABC1;
    position: fixed; /*menu se quede fijo*/
    z-index: 100;
}
#inicio {
    font-family:"BadMofo.ttf";
    font-size: 39px; 
    padding: 1px 24px
}
#inicio0 {
    margin:none;
    padding:none;
}
#btn-menu {
    display: none;
}
/*la cabeza del menu cuando esta reducido */
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid grey;
}
/*menu de navegacion de menu horizontal*/
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display:flex;
}
/*flexbox*/
.menu li {
/*proporcion de crecimiento flex-grow: 1*/
    flex-grow: 1;
    text-align: center;
    border: 1px solid grey;  
    height:45px;
    padding-left: -10%;
    font-family:"FROST.ttf";
}
.menu li:hover {
    background:#09606D;
}
.menu li a{
    display:block;
    padding: 14px 60px 15px;
    color: #fff;
    text-decoration: none;
}
/*submenus */
.menu ul li ul {
    background:	#000000; 
    display:block;
    display: none;
    position: absolute;
}
.menu :hover>ul{
    display:block;
}
/*edicion submenu*/
.menu ul li ul li {
    border: 1px solid #09606D;
}

/*a partir de un numero de pixeles aparezca y desaparezca el menu*/

@media (max-width:768px) {
    header label {
        display:block;
    }

    aside {
        width: 100%
    }

    .menu {
        position: absolute;
        background: #16ABC1;
        width: 70%;
        margin-left: -70%;
        transition: all 0.7s;
    }

    .menu ul {/*cuando cambie el tamaño de pantalla ya no sera un a fila si no columna*/
        flex-direction: column;
    }

    /*cuando demos clic en el menu aparezca el munu y cuando demos otra vez desaparezca*/
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
    .menu ul li ul {
        width: 100%;   
    }
}
/*-------------------------------FIN-NAV-------------------------------*/
/*-------------------------NUESTROS SERVICIOS--------------------------*/
.lista{
    list-style: square inside;
    display: block;
    margin-left: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

#rip{
    position: relative;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -450px;
    padding-left: 35px;
    font-size: 20px;
    text-align: justify;
}
.ser{
    margin-left: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    
}
h2.ser {
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 0%;
}
.w3-content img{margin: auto;
    height: 500px;}

#desc{
    position: relative;
    float: right;
    margin-right: 140px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -555px;
    font-size: 20px;
    text-align: justify;
}

#desc h2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;text-decoration: underline;margin-right: 100px;}
#desc h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;text-decoration: underline;color:blue;margin-right: 100px;}
#rip h2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;text-decoration: underline;margin-right: 100px;}
#dos{
    height: 817px;
}

.lista li{
    font-size: 18px;
}
/*-------------------------------FOOTER--------------------------------*/
footer {
    background-color: #09606D;
    height: 120px;
    width: 100%;
    margin-bottom: 0%;
    clear: both;
}
#copy {
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 20px;
    font-family:"Roboto.ttf";
}
#tabla {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
#Fleft {
    float: left;
    width: 33%;
    padding-top: 10px;
}
#Fcenter {
    float: left;
    width: 33%;
    padding-top: 10px;
}
#Fright {
    width: 34%;
    padding-top: 10px;
}
#Fcenter,#Fright,#Fleft {display: inline-block;}
.pie {
    text-align: center;
    margin: auto;
    color: white;
    font-family:"Roboto.ttf"
}
.social {
    margin: 0 auto;
    height: 35px;
    width: 35px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: white; 
}
/*------------------------------FIN-FOOTER------------------------------*/

/*
Colores posibles de la pagina:

#09606D
#16ABC1
*/