*{ 
    margin:0;
    padding:0;
}
/*FUENTES USADAS EN LA PÁGINA*/
@font-face {
    font-family:"Roboto.ttf";
    src:url('../FONTs/Roboto.ttf');
}
@font-face {
    font-family:"BadMofo.ttf";
    src:url('../FONTs/BadMofo.ttf');
}
/*fuente menu*/ 
@font-face {
    font-family:"FROST.ttf";
    src:url('../FONTs/FROST.ttf');
}
/*-------------------------------*/
/*TITULO*/

/*FIN TITULO*/
/*-------------------------------NAV-------------------------------*/
nav {
    background-color: #09606D;
}
/*menu horizontal */
header {
    width: 100%;
    background: #16ABC1;
    position: fixed; /*menu se quede fijo*/
    z-index: 100;
}
#inicio {
    font-family:"BadMofo.ttf";
    font-size: 39px; 
    padding: 1px 24px
}
#inicio0 {
    margin:none;
    padding:none;
}
#btn-menu {
    display: none;
}
/*la cabeza del menu cuando esta reducido */
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid grey;
}
/*menu de navegacion de menu horizontal*/
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display:flex;
}
/*flexbox*/
.menu li {
/*proporcion de crecimiento flex-grow: 1*/
    flex-grow: 1;
    text-align: center;
    border: 1px solid grey;  
    height:45px;
    padding-left: -10%;
    font-family:"FROST.ttf";
}
.menu li:hover {
    background:#09606D;
}
.menu li a{
    display:block;
    padding: 14px 60px 15px;
    color: #fff;
    text-decoration: none;
}
/*submenus */
.menu ul li ul {
    background:	#000000; 
    display:block;
    display: none;
    position: absolute;
}
.menu :hover>ul{
    display:block;
}
/*edicion submenu*/
.menu ul li ul li {
    border: 1px solid #09606D;
}

/*a partir de un numero de pixeles aparezca y desaparezca el menu*/

@media (max-width:768px) {
    header label {
        display:block;
    }

    aside {
        width: 100%
    }

    .menu {
        position: absolute;
        background: #16ABC1;
        width: 70%;
        margin-left: -70%;
        transition: all 0.7s;
    }

    .menu ul {/*cuando cambie el tamaño de pantalla ya no sera un a fila si no columna*/
        flex-direction: column;
    }

    /*cuando demos clic en el menu aparezca el munu y cuando demos otra vez desaparezca*/
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
    .menu ul li ul {
        width: 100%;   
    }
}
/*-------------------------------FIN-NAV-------------------------------*/
#uno{height: 817px;}
#XPO{
    height: 100px;
    margin-top: 6%;
    margin-left: 80%;
    padding: 30px 0 30px 0;
    position: fixed;
    font-family: Agency FB;
    font-size: 23px;
    
}
#XPO h3{
    text-decoration: underline;
    
}
#EM{
    height: 100px;
    margin-top: 23%;
    margin-left: 2%;
    padding: 30px 0 30px 0;
    position: fixed;
    font-family: Agency FB;
    font-size: 23px;
    
}
#EM h3{
    text-decoration: underline;
    
}
#CEM{
    height: 100px;
    margin-top: 23%;
    margin-left: 80%;
    padding: 30px 0 30px 0;
    position: fixed;
    font-family: Agency FB;
    font-size: 23px;
    
}
#CEM h3{
    text-decoration: underline;
    
}
#Urbi{
    height: 100px;
    margin-top: 6%;
    margin-left: 2%;
    padding: 30px 0 30px 0;
    position: fixed;
    font-family: Agency FB;
    font-size: 23px;
    
}
#Urbi h3{
    text-decoration: underline;
    
}

.Proveedores{
    height: 100px;
    width: 145px;
    margin-top: 8.3%;
    margin-left: 27%;
    padding: 30px;
    border: blue 2px solid;
    background-color: #09606D;
}
#comienzo{
    padding-top: 70px;
    position: fixed;
    margin-left: 42%;
    font-family:  Gloucester MT Extra Condensed;
    font-style: italic;
    font-weight: bold;
    font-size: 37px;
   text-shadow: 2px 2px 4px #09606D;
   text-decoration: underline;
}
/*-------------------------------FOOTER--------------------------------*/
footer {
    background-color: #09606D;
    height: 120px;
    width: 100%;
    margin-bottom: 0%;
    clear: both;
}
#copy {
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 20px;
    font-family:"Roboto.ttf";
}
#tabla {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
#Fleft {
    float: left;
    width: 33%;
    padding-top: 10px;
}
#Fcenter {
    float: left;
    width: 33%;
    padding-top: 10px;
}
#Fright {
    width: 34%;
    padding-top: 10px;
}
#Fcenter,#Fright,#Fleft {display: inline-block;}
.pie {
    text-align: center;
    margin: auto;
    color: white;
    font-family:"Roboto.ttf"
}
.social {
    margin: 0 auto;
    height: 35px;
    width: 35px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: white; 
}
/*------------------------------FIN-FOOTER------------------------------*/

/*
Colores posibles de la pagina:

#09606D
#16ABC1
*/